<div class="wrapper">
    <div>
        <div class="grid-x">
            <div class='cell'>

                <app-timer></app-timer>
            </div>
            <div class="cell">
                <h3>Tasks:</h3>
                <app-notes [uid]="'tasks'"></app-notes>
            </div>
        </div>
        <br>


        <hr>

    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell large-6">
            <strong>Notes:</strong>
            <app-notes [uid]="'notes'"></app-notes>
        </div>
        <div class="cell large-6">
            <strong>App Ideas:</strong>
            <app-notes [uid]="'app_ideas'"></app-notes>
        </div>

    </div>

</div>
<div *ngIf="completed" class="completed-overlay" (click)="reset()">
    <div class="completed-inner">
        COMPLETED!!! <br>
        Click anywhere to reset
    </div>

</div>

<footer>
    <a href="https://stackblitz.com/edit/gsd-pom" target="_BLANK">Edit Me on StackBlitz</a>
</footer>