<div class="wrapper" [ngClass]="{true:'completed-background'}[completed]" (click)="reset()">

	<div [ngStyle]="{display:(completed ? 'none' : 'block')}" (click)="$event.stopImmediatePropagation()">

		<mat-radio-group class="radio-group" aria-label="Select an option" [(ngModel)]="lenInMin">
			<label for="">Select time length: </label>
        	<mat-radio-button value=".25">15 sec</mat-radio-button>
    	<mat-radio-button value=".5">30 sec</mat-radio-button>
  	<mat-radio-button value="1">1</mat-radio-button>
	<mat-radio-button value="5">5</mat-radio-button>
	<mat-radio-button value="10">10</mat-radio-button>
	<mat-radio-button value="15">15</mat-radio-button>
	<mat-radio-button value="20">20</mat-radio-button>
	<mat-radio-button value="25">25</mat-radio-button>
	<mat-radio-button value="30">30</mat-radio-button>

</mat-radio-group>
 <br>
<div class="indicator-wrapper" >
  <div class="indicator" [style.width]="width"></div>
  <div class='remaining-text'>
          <span *ngIf="paused">PAUSED</span>
      <span *ngIf="running" >{{remaining}} Remaining</span>
      <span *ngIf="completed">Completed</span>

  </div>

</div>

<hr>
<div class="action-buttons">
  <button mat-flat-button *ngIf="!running" color="primary" (click)="start()">Start</button>
    <button mat-flat-button *ngIf="running" color="primary" (click)="paused = !paused">Pause</button>
  <button mat-flat-button color="secondary" (click)="reset()">Reset</button>
</div>

</div>

</div>
<!-- <h1>{{lenInMin}}, {{countdown}}, {{width}}, {{completed}}</h1> -->