p {
  font-family: Lato;
}

.indicator-wrapper{
  box-sizing: border-box;
  position:relative;
  border:1px solid darkred;
  width:95%;
  margin:auto;
  height:50px;
  overflow:hidden;
  text-align: center;
}

.indicator{
  position:absolute;
  background-color:crimson;
  height:100%;
  top:0;
  bottom:0;
  left:0;
  width:0%;
  padding: 10px 0;
  z-index:50;
}
.remaining-text{
  position:relative;
  z-index:100;
  font-weight:bold;
  font-size: 18px;
  white-space:nowrap;
  padding-top:12px;
  color: #e9bbc4;
}
.radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  mat-radio-button {
    margin: 0 10px;
  }
}

.action-buttons {
  text-align:center;
}