<div class="wrapper">
	<div>

		<div *ngIf="!running">
			<h3>Select Time:</h3>
			<div class='preset-buttons'>
				<button *ngFor="let preset of presets" mat-stroked-button (click)="start(preset)">{{preset[1]}}</button>
    </div>
    <app-notes></app-notes>
</div>


 <br>
<div class="indicator-wrapper" *ngIf="running" >
  <div class="indicator" [style.width]="width"></div>
  <div class='remaining-text'>
          <span *ngIf="paused">PAUSED - </span>
      <span *ngIf="running" >{{remaining}} Remaining</span>
      <span *ngIf="completed">Completed</span>

  </div>

</div>

<hr>
<div class="action-buttons">
  <button mat-flat-button *ngIf="!running" color="primary" (click)="start()">Start</button>
    <button mat-flat-button *ngIf="running" color="primary" (click)="paused = !paused">Pause</button>
  <button mat-flat-button color="secondary" (click)="reset()">Reset</button>
</div>

</div>

</div>
<div *ngIf="completed" class="completed-overlay" (click)="reset()">
<div class="completed-inner">
COMPLETED!!! <br>
Click anywhere to reset
</div>

</div>
<!-- <h1>{{lenInMin}}, {{countdown}}, {{width}}, {{completed}}</h1> -->